body {
  font-family: Arial, sans-serif;
  background-color: #30acb1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}

h1 {
  color: #333;
  text-decoration: underline rgba(131, 62, 152, 0.966);
}

.todo-container {
  background: #d88888;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  width: 320px;
}

.input-group {
  display: flex;
  margin-bottom: 25px;
}

input[type="text"] {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
  outline: none;
}

button {
  padding: 15px 20px;
  border: none;
  background-color: #28a745;
  color: white;
  cursor: pointer;
  border-radius: 0 5px 5px 0;
}

button:hover {
  background-color: #218838;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background: #eee;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.time {
  font-size: 0.8em;
  color: #666;
  margin-right: 10px;
}

.done-btn {
  background-color: #dc3545;
  color: #fff;
  border: none;
  padding: 5px 8px;
  border-radius: 4px;
  cursor: pointer;
}

.done-btn:hover {
  background-color: #c82333;
}
